SetEnv AWS_ACCESS_KEY [aws_access_key]
SetEnv AWS_SECRET [aws_secret]
SetEnv AWS_REGION us-east-1
SetEnv BUCKET mule-uploader-demo

RewriteEngine On
RewriteRule ^$ example_backend.php
RewriteRule ^backend/(.*)/$ example_backend.php?action=$1&%{QUERY_STRING}
